---
---
.container-fluid {
	max-width: 1400px;
}

.h1_centre {
	text-align: center;
}

.text_centre {
	text-align: center;

}

nav a {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: normal;
	color: #2b292d;
	text-decoration: none;
}

.header_empty_row {
	height: 46px;
	#border: 1px solid green;
	background-color: rgba(255, 104, 107, 0.8);
}

#main_header {
	max-width: 1400px;
	height: 100px;
	background-color: rgba(255, 104, 107, 0.8);
	#border: 1px black solid;
}

#main_title {
	width: 237px;

}

#main_title p {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.6);
	margin-left: -10px
}

#main_header_logo {
	border: 9px #3142c6 solid;
	background-color: #9fbfff;
	height: 43px;
	width: 45px;
	-moz-border-radius: 49px;
	-webkit-border-radius: 49px;
	border-radius: 49px;
	position: relative;
	float:right;
}

#main_header_nav {
  #border: 1px blue solid;
}

#footer {
	height: 256px;
	max-width: 1400px;
	#background-color: #9fbfff;
	background-image: url('{{ site.baseurl }}/images/vlnkasvg.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footer_elements {
	margin-top: 100px;
	height: 100px;
}

.orange_fish {
	background-image: url('{{ site.baseurl }}/images/Fish2x.svg');
	background-size: 100% 100%;
}

#blue_fish {
	height: 100px;
	#width: 120px;
	background-image: url('{{ site.baseurl }}/images/ryba.svg');
	background-size: 100% 100%;
}

#footer_text {
	text-align: center;
	padding-top: 50px;
}

#footer_text p {
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.3;
	color: #ffffff;
}

#first_fish {
	height: 30px;
	margin-left: -80px;
}

#second_fish {
	height: 40px;
	margin-top: 150px;
}

#third_fish {
	height: 20px;
	margin-top: 190px;
	margin-left: 20px;
}

#intro {
	max-width: 1400px;
	height: 500px;
	background-color: rgba(255, 104, 107, 0.8);
}

#intro_pic {
	background-image: url('{{ site.baseurl }}/images/ouch.jpg');
	background-size: 100% 100%;
	height: 450px;
}

#news {
	height: 500px;
	border: 1px black solid;
}

.news_item {
	height: 100%;
	margin: 0 20px 0 20px;
}

.news_row {
	height: 80%;
}

#psychiatry {
 	max-width: 1400px;
	height: 1045px;
	background-color: rgba(226, 160, 255, 0.3);
}

.psychiatry_row {
	height: 300px;
}

.psychiatry_item {
	margin: 0 20px 0 20px;
}

#contacts {
	max-width: 1400px;
	height: 500px;
	
}

.contacts_row {
	height: 50%;
}

.text_left {
	text-align: left;
}

.email_row {
	height: 30%;
}