---
---
body {
	font-family: 'Roboto', sans-serif;
}

body a {
	font-family: 'Roboto', sans-serif;
}

body p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

body h1 {
	font-family: Roboto;
	font-size: 56px;
	font-weight: bold;
}

body h3 {
	font-family: Roboto;
	font-size: 22px;
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.no-right-pad {
	padding-right: 0;
}


.h1_centre {
	text-align: center;
}

.text_centre {
	text-align: center;

}

.header_left {
	padding-left: 0px;
}

.navbar {
	background-color: rgba(255, 104, 107, 1);
}

.navbar > .container-fluid{
	justify-content: right;
	text-align: right;
}

.colored_row {
	background-color: rgba(226, 160, 255, 0.3);
}

nav a {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 25px;
	letter-spacing: 0;
	color: #2b292d;
	text-decoration: none;
	#margin-left: 30px;
	#padding-left: 4px;
}

nav a:hover {
	text-decoration: none;
	color: black;
}

nav a:visited {
	color: black;
	text-decoration: none;
}

nav a.active {
	#background: linear-gradient(180deg, rgba(255,104,107,0.8) 50%,  #9fbfff 50%);
	font-weight: bold;
}

nav div.active {
	border-bottom: 1px solid #9fbfff;

}

.header_empty_row {
	height: 46px;
	background-color: rgba(255, 104, 107, 1);
}

.page_header {
	padding-top: 40px;
}

.last_row {
	margin-bottom: 50px;
}

#main_content {
	min-height: 500px;
}

#main_header {
	min-height: 100px;
	background-color: rgba(255, 104, 107, 1);
	#border: 1px black solid;
}

#main_title {
	

}

#main_title p {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.39;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.6);
	margin-left: -10px
}

#main_header_logo {
	border: 9px #3142c6 solid;
	background-color: #9fbfff;
	height: 43px;
	width: 45px;
	-moz-border-radius: 49px;
	-webkit-border-radius: 49px;
	border-radius: 49px;
	#position: relative;
	float:left;
}

#main_header_nav {
  #border: 1px blue solid;
  display: flex;
  
}


#footer {
	max-height: 256px;
	background-image: url('{{ site.baseurl }}/images/vlnkasvg.svg');
	background-repeat: no-repeat;
	#background-size: 100% 100%;
	background-size: cover;
	
}

.footer_elements {
	margin-top: 100px;
	height: 100px;
}

.orange_fish {
	background-image: url('{{ site.baseurl }}/images/Fish2x.svg');
	background-size: 100% 100%;
}

#blue_fish {
	height: 100px;
	#width: 120px;
	background-image: url('{{ site.baseurl }}/images/ryba.svg');
	background-size: 100% 100%;
}

#footer_text {
	text-align: center;
	padding-top: 50px;
}

#footer_text p {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.3;
	color: #ffffff;
}

#first_fish {
	height: 30px;
	margin-left: -80px;
}

#second_fish {
	height: 40px;
	margin-top: 150px;
}

#third_fish {
	height: 20px;
	margin-top: 190px;
	margin-left: 20px;
}

#intro {
	min-height: 500px;
	background-color: rgba(255, 104, 107, 0.8);
}

#intro h1,h2 {
	font-weight: bold;
	padding-left: 40px;
}

#intro h1 {
	font-size: 60px;
	line-height: 78px;
}

#intro h2 {
	font-size: 30px;
	line-height: 34px;
	margin-top: 30px;
	padding-left: 40px;
}

#intro_pic {
	background-image: url('{{ site.baseurl }}/images/ouch.jpg');
	background-size: 60% 100%;
	min-height: 450px;
	background-repeat: no-repeat;
	background-position: right center;
}

#intro_links {
	margin-top: 50px;
	padding-left: 40px;
	text-align: center;
	vertical-align: middle;
}

#intro_links a{
	margin: 0 auto;
	padding-top: 18px;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#intro_links a:hover {
	color: white;
}

.intro_link {
	height: 48px;
	background-color: white;
	color: #3141c5;
	border-radius: 2px;
   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
   font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 0.72;
	letter-spacing: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-bottom: 5px;
}

.intro_link:hover {
	background-color: #3141c5;
	color: white;
}

.intro_link a {
	text-decoration: none;
}

#news {
	min-height: 500px;
}

.news_item {
	height: 350px;
	margin: 0 20px 0 20px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center top;
}

.news_row {
	min-height: 350px;
}

#news_item1 {
	background-image: url('{{ site.baseurl }}/images/zelena.svg');
}

#news_item2 {
	background-image: url('{{ site.baseurl }}/images/modra.svg');
	border-radius: 8px;
	box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
}

#news_item3 {
	background-image: url('{{ site.baseurl }}/images/fialova.svg');
}

#psychiatry {
	min-height: 845px;
}

#psychiatry p {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0;
}

#psychiatry a{
	color: #2b292d;
	text-decoration: none;
}

#psychiatry a:hover{
	color: #9fbfff;
}

.psychiatry_row {
	min-height: 350px;
	padding-bottom: 10px;
}

.psychiatry_item {
	margin: 30px 20px 0 20px;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
}

.psychiatry_item_text {
	margin: 30px 20px 20px 20px;
	letter-spacing: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	display: none;
}

.psychiatry_item_text_visible {
	display: inherit;
}

.psychiatry_item_text p{
	font-size: 18px;
}

.psychiatry_item:hover {
	background-color: #3141c5;
	color: white;
}

.psychiatry_item_active {
	background-color: #3141c5;
	color: white;
}

#problems {
	background-image: url('{{ site.baseurl }}/images/ouch.svg');
}

#psychotherapy {
	background-image: url('{{ site.baseurl }}/images/ruzova.svg');
}

#medication {
	background-image: url('{{ site.baseurl }}/images/zelenykruh.svg');
}

#links {
	background-image: url('{{ site.baseurl }}/images/nebe.svg');	
}

.psychiatry_links_img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}

#contacts {
	min-height: 500px;
	padding-top: 50px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.42;
	letter-spacing: normal;
}

#contacts h2 {
	padding: 0;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.42;
	letter-spacing: normal;
}

.contacts_row {
	height: 50%;
	padding-top: 50px;
}

#contacts_center {
	padding-left: 0px;
}

.contacts_header {
	font-family: Roboto;
	font-size: 56px;
	font-weight: bold;
	font-style: normal;
	line-height: 1;
	letter-spacing: -0.5px;
}

.text_left {
	text-align: left;
}

.email_row {
	height: 30%;
}

.team_members_row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.team_member_box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}

.team_img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.team_member_name_div {
	height: 25%;
}

.team_member_name {
	font-size: 20px;
	color: #535b6c;
	padding: 0 10px 0 10px;
	flex-basis: 50%;
}

.team_member_position {
	color: #9299a5;
	font-size: 14px;
}

#faq_main_row {
	min-height: 450px;
}

#faq_picture{
	background-image: url('{{ site.baseurl }}/images/house.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	max-height: 450px;
}

.faq_p {
	text-align: justify;
	display: none;
}

.faq_fa_col {
	#border: 1px solid red;
}

.faq_fa {
	height: 26px;
	width: 26px;
	text-align: center;
	right: 0;
	#position: absolute;
}

.rotated {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#sponsorship_img {
	background-image: url('{{ site.baseurl }}/images/Sponzoring.JPG');
	background-repeat: no-repeat;
	background-size: contain;
}

.sponsorship-logo {
	max-height: 120px;
}

.list-pad {
	padding-left: 40px;
}

.gallery_name_div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro {
	margin-top: 20px;
}

.gallery_row {
	min-height: 200px;
}

.gallery_thumbnail {
	border-radius: 15px;
   object-fit:cover;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
}

.transition {
   -webkit-transform: scale(1.2); 
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}

.photo-div {
	height: 150px;
	display: inline-block;
	background-size: cover; /* or contain */
   background-position: center center;
   background-repeat: no-repeat;
   border: 2px solid white;
}

.inner_filling {
	height: 150px;
}

.sponsorship_img {
	float: left;
	max-width: 300px;
}

.sponsorship_row {
	margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
	#intro_pic {
		background-image: none;
	}

	#intro_pic h1 {
		font-size: 40px;
		line-height: 38px;
	}

	#intro h2 {
		font-size: 25px;
		line-height: 24px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#intro_pic {
		background-image: none;
	}

	#intro_pic h1 {
		font-size: 40px;
		line-height: 38px;
	}

	#intro h2 {
		font-size: 25px;
		line-height: 24px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	#intro_pic {
		background-image: none;
	}
}
