#main_header {
  width: 1400px;
  height: 190px;
  background-color: rgba(255, 104, 107, 0.8);
  border: 1px black solid;
}

#main_header_logo {
  border: 1px red solid;


}

#main_header_nav {
  border: 1px blue solid;

}
