---
layout: default
title: Sponsorship
---
<div class="col-12 col-sm-12">
	<div class="row">
		<div class="col-lg-1 d-none d-lg-block"></div>
		<div class="col-md-5 col-12">
			<h1>Sponzoring</h1>
			<p>
				Pomocí sponzorských aktivit především zpříjemňujeme dětem jejich pobyt na oddělení.
			</p>
	
			<p>
	         Zároveň věříme, že spoluprací s našimi podporovateli zmírňujeme obavy z dětské
	         psychiatrie jak u širší veřejnosti, tak u nově příchozích pcientů.
	         Podpora zvenčí je signálem, že dětská psychiatrie je otevřeným oborem,
	         nikoliv "světem za zdí a za mříží".
			</p>
	 
			<p>
				Sponzoring je nakonec důležitý i pro tým oddělení. V psychiatrii je
				někdy těžké uvědomovat si, že naše práce má smysl. Tým vnímá, že
				naši aktivitu podporuje a ocení i někdo mimo obor.
			</p>
		</div>
		<div class="col-md-6 d-none d-md-block" id="sponsorship_img">
		</div>
	</div>
	<div class="row colored_row">
		<div class="col-lg-1 d-none d-lg-block"></div>
		<div class="col-sm-12 col-lg-11">
			<h2>Co oceníme?</h2>
	 		<ul class="list-pad">
	    		<li>výtvarné potřeby - papíry, pastelky, fixy, omalovánky, vysřihovánky, plastelína... (máme neuvěřitelnou spotřebu!)</li>
	    		<li>sportovní potřeby - míče, míčky, pálky, hokejky na florbal, koloběžky, hrazdy, vybavení na posilování...</li>
	    		<li>hračky a společenské hry - co fantazie přinese na mysl</li>
	    		<li>ceny do soutěží - plyšáci, drobné hračky, laskominy... (stále si hrajeme, stále soutěžíme a tak jsou ceny stále potřeba)</li>
	    		<li>nábytek - sedací pytle, skříňky pro děti (skříní je dostatek, ale rádi bychom některé vyměnili za nové, aby se zde děti cítily ještě lépe)</li>
	    		<li>stolní fotbal (sen naší staniční sestry)</li>
	    		<li>doplnění stávajícího hřiště o další atrakce</li>
	    		<li>workout hřiště (sen naší staniční sestry)</li>
	    		<li>čaje (děti si velmi rády vaří čaj k veřernímu promítání v ateliéru)</li>
			</ul>
			
			<p>Od července 2020 sponzorské dary prezentujeme na našem FB - <a href="https://www.facebook.com/detskePNHB">www.facebook.com/detskePNHB</a>, děkujeme.</p>
		</div>
	</div>
	<div class="row last_row">
		<div class="col-lg-1 d-none d-lg-block"></div>
		<div class="col-sm-12 col-lg-11">
			<h2>Kdo nám pomáhá</h2><br>
			<div class="col-12">
				{% assign sponsorship-all = site.data.sponsorship %}
				{% for sponsor in sponsorship-all %}
					{% assign loop_count = forloop.index | modulo: 2 %}
						{% if loop_count == 1 %}
							<div class="row sponsorship_row">
								<div class="col-12 col-sm-12 col-md-6" style="max-height: 100px;">
									<div class="row">
										<div class="col-6 col-sm-6">
											<a href="{{ sponsor.link }}" ><img src="{{ sponsor.picture }}" alt="{{ sponsor.text }}" title="{{ sponsor.text }}" class="sponsorship_img"  height="100px" ></a>
										</div>
										<div class="col-6 col-sm-6">
											
										</div>
									</div>
								</div>
						{% else %}
								<div class="col-12 col-sm-12 col-md-6" style="max-height: 100px;">
									<div class="row">
										<div class="col-6 col-sm-6">
											<a href="{{ sponsor.link }}" ><img src="{{ sponsor.picture }}" height="100px" alt="{{ sponsor.text }}" title="{{ sponsor.text }}"  class="sponsorship_img"></a>
										</div>
										<div class="col-6 col-sm-6">
											
										</div>
									</div>
								</div>
							</div>
						{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>